* {
    margin: 0;
    padding: 0;
}

.navigation {
    font-family: var(--font1);
    height: fit-content;
    background-color: rgb(234, 200, 200);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    border-radius: 20px;
}

.nav-left {
    font-size: 20px;
    display: flex;
    padding-left: 10px;
}

.nav-left ul {
    display: flex;
    align-items: center;

    font-size: 18px;
    margin: 0 30px;
    /* justify-content:space-between; */

}
.nav-left span{
    font-family: 'Times New Roman', Times, serif;
    font-size: 90px;
}
.nav-left ul li {
    list-style: none;
    margin: 0 14px;
    font-family: 'Times New Roman', Times, serif;
    transition: all 0.2s ease-in-out;

}

.nav-left ul li a {
    text-decoration: none;
    color: black;

}

.nav-left ul li a:hover {
    color: brown;
    font-weight: bolder;
}

.nav-right {}

.content-left {
    padding-top: 15px;
    font-family: var(--font1);
    /* width: 50%; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 50px;
}
 
.content-left a{
    text-decoration: none;
    color:black;
}
.content-right {
    /* right: 10px; */
    width: 600px;
    display: flex;
    /* height: 100px; */
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    /* margin-left: 50px; */
    padding-left: 50px;
    /* position: absolute; */


}

.content-right ul {
    border: 2px solid rgb(44, 66, 98);
    margin-left: 50px;
    margin-right: 100px;
    /* justify-content: space-between; */
    list-style: none;
    margin-top: 15px;
    /* padding-left: 70px; */
    width: 100px;
    height: 100px;
    /* position: center; */

}

.content-right h3 {
    font-size: 25px;
}

.content-right li {
    margin-left: 20px;
}

.content-right ul li a {
    text-decoration: none;
    color: black;
}

.most-popular {
    list-style: none;
    margin-left: 35px;

}

/* .content-right img{
    height: 330px;
    border: 2px solid black;
    border-radius: 20px;
    opacity: 0.9;
} */
.content {
    /* height: 300px; */
    background-color: rgb(235, 215, 242, 0.5);
    display: flex;
    /* margin-top: 12px; */
    border-radius: 20px;
    /* padding: 20px; */
    position: relative;
    height: fit-content;
    padding-bottom: 15px;
    width: fit-content;


}

.home-articles {
    /* height: 400px; */
    /* padding-top: 15px; */
    background-color: rgb(240, 214, 164, 0.65);
    font-family: Arial, Helvetica, sans-serif;
    /* margin-left: 20px; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: fit-content;


}

.home-articles h2 {
    padding-top: 10px;
    /* margin-top: 15px; */
    margin-left: 20px;
    font-size: 30px;
}

.harticle {
    height: 100px;
    display: flex;
    margin-left: 20px;


}

.hcontent {
    align-self: center;
}

.hcontent a {
    color: black;
    text-decoration: none;
}

.most-popular h3 {
    margin-left: 15px;
}

.footer {
    height: 50px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.line {
    padding-top: 15px;
    padding-bottom: 15px;
}

.about-content {
    background-color: rgb(235, 215, 242, 0.5);
    display: flex;
    /* margin-top: 12px; */
    border-radius: 20px;
    /* padding: 20px; */
    /* position:relative; */
    height: fit-content;
    padding-bottom: 15px;

    padding-top: 15px;
    /* font-family: var(--font1); */
    /* width: 50%; */
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
    /* flex-direction: column; */
    /* margin-left: 20px;
    margin-bottom: 50px; */
    padding-left: 20px;
    padding-right: 20px;
    font-size: 19px;
}

.about-content a {
    text-decoration: none;
}